input {
  width: 80%;
  flex: 1;
}

label {
  padding-right: 8px;
  display: inline-block;
  min-width: 80px;
  text-align: right;
  vertical-align: middle;
}

p {
  display: flex;
}

row {
  width: 100%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  display: table-cell;
}

.row {
  display: table-row;
}

.options {
  width: 100%;
}
