/** link color */
a {
    color: blue;
    cursor: pointer;
}


h1 {
    font-size: 32px;
}
@media screen and (min-width: 400px) {
    h1 {
        font-size: 48px;
    }
}


h2 {
    font-weight: 300;
}


img {
    height: 72px;
}
