.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


a {
    color: blue;
    cursor: pointer;
}


h1 {
    width: 7em;
    font-size: 48px;
    vertical-align: 30%;
}

h1.centered {
    display: flex;
}

h2 {
    font-weight: 300;
    width: fit-content;
}


img {
    width: 72px;
}
